:root {
    --main-font: 'Libre Baskerville', sans-serif;
}


body {
    background-color: #F9FAFC;
    font-family: var(--main-font);
}

.brand {
    font-family: var(--main-font);
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.nav {
    font-family: var(--main-font);
    background-color: #89B181;
    color: white;
    padding: 20px;
}

.footer {
    font-family: var(--main-font);
    background-color: #89B181;
    color: white;
    padding: 20px;
    text-align: center;
}

h5 {
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
}

.light-bg {
    background-color: #89B181;
}

.dark-bg {
    background-color: #89B181;
}

.img-fluid {
    max-width: 30%;
    height: 30%;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #94B88C;
    margin-bottom: 20px;
}

.container {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #94B88C;
    margin-bottom: 20px;
}

.container3 {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 20px;
}

.btn {
    font-family: var(--main-font);
    background-color: #330835;
    color: white;
    display: block;
    margin: 0 auto;
}

.btn-primary {
    background-color: #330835;
    border-color: #fefefe;
}

.btn-secondary {
    background-color: #330835;
    border-color: #6c757d;
    width: 150px;
}

.btn:hover,
.btn-secondary:hover {
    color: white;
    background-color: #6c757d;
    border-color: #6c757d;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* General styling for the hero section */
.index {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

/* Styling for the logo image */
.index .logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Styling for the main title */
.index .main-title {
    font-family: "Libre Baskerville", serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

/* Styling for the tagline */
.index .tagline {
    font-family: "Libre Baskerville", serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 20px;
}

/* Styling for the main description */
.index .main-description {
    font-family: "Libre Baskerville", serif;
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    line-height: 1.6;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #632C33;
    color: white;
    position: relative;
    font-family: "Libre Baskerville", serif;
    font-weight: 200;
    padding: 50px 10px 20px 30px;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #515152;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    background-color: #89B181;
    color: #000000;
}

.post-link:hover,
.page-link {
    background-color: #632C33;
    color: #ffffff;
}

.page-link:hover {
    background-color: #89B181;
    color: #000000;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    font-family: var(--main-font);
    background-color: #632C33;
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 30px;
    border-radius: 3px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #445261;
    color: #000000;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: #515152;
}

.ReviewForm {
    font-family: "Libre Baskerville", serif;
    font-size: 1.5rem;
    background-color: #89B181;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.page-title {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination .step-links a {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #007bff;
}

.pagination .step-links a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination .current {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.hero-image {
    width: 100%;
    height: auto;
    background-image: url('/static/images/redwine.jpg');
    
}

.carousel-container {
    max-width: 600px;
    margin: 0 auto;
}

.carousel-image {
    height: 500px;
    object-fit: cover;
}





