{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Container for users to be able to edit their wine reviews -->

<div class="container mt-5" style="background-color: transparent;">
    <h1 class="page-title text-center my-4">Edit Your Wine Review</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
            <div class="card-body">
                    {% if user.is_authenticated %}
                    <p class="card-text">Posting as: {{ user.username }}</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-primary mt-3">Save changes</button>
                    </form>
                    {% else %}
                    <p>Log in to leave a review</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block extras %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% endblock content %}