{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Age Verification Modal -->
<div class="modal fade" id="ageVerificationModal" tabindex="-1" aria-labelledby="ageVerificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ageVerificationModalLabel">Age Verification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You must be 18 years or older to enter this site. Please verify your age.</p>
                <button id="confirmAge" class="btn btn-primary">I am 18 or older</button>
            </div>
        </div>
    </div>
</div>


<!-- Content Goes here -->


<div class="main_content">

    <!-- Hero section with logo and tagline -->
    <div class="index">
        <h1 class="main-title">Vin Rouge</h1>

        <img src="{% static 'images/vineyard.jpg' %}" alt="French vineyard" class="logo">
        <h3 class="tagline">A Red Wine Review site, for Red Wine Lovers</h3>

        <!-- Main description of the app -->
        <p class="main-description">Discover the heart of France in every glass. Vin Rouge offers passionate reviews of
            exquisite French wines, uncorking flavors and tales from the vineyards. Sip, savor, and celebrate the art of
            fine French winemaking.
        </p>

    </div>

    <!-- CTA button to review pages -->
    <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;"></div>
    <a class="btn-signup" href="{% url 'wine_list' %}">Start your journey now!</a>
</div>
<br>


<!-- Bootstrap Carousel -->
<div
    style="width:50%; height:45%; margin: 0 auto; border: 1px solid #ccc; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
    <h2 class="carousel-title">Explore Our Wines of the Month!</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/burgundysketch.png' %}" alt="French vineyard" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Burgundy Sketch</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/burgundysketch.png' %}" alt="French vineyard" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Merlot</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/burgundysketch.png' %}" alt="French vineyard" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Madiran</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"></button>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



{% endblock content %}
{% block extras %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (!localStorage.getItem('ageVerified')) {
            var ageVerificationModal = new bootstrap.Modal(document.getElementById('ageVerificationModal'));
            ageVerificationModal.show();

            document.getElementById('confirmAge').addEventListener('click', function () {
                localStorage.setItem('ageVerified', 'true');
                ageVerificationModal.hide();
            });
        }
    });
</script>
{% endblock extras %}
{% block copyright %}Copyright 2025 Isaac Nicholls{% endblock %}