{% extends "base.html" %}
{% load static %}
{% block content %}


        <!-- Content Goes here -->
        <div class="container mt-5">
            <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100 circular-card" style="border: 1px solid #000000;">
                <img src="{% static 'images/redwine.jpg' %}" class="card-img-top" alt="Default Image">
                <div class="card-body">
                    <h5 class="card-title">South - West</h5>
                    <p class="card-text">Key Regions: Bordeaux, Cahors, Madiran</p>
                    <a href="{% url 'reviewpage' %}" class="btn btn-primary">Leave a review</a>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 circular-card" style="border: 1px solid #000000;">
                <img src="{% static 'images/redwine.jpg' %}" class="card-img-top" alt="Default Image">
                <div class="card-body">
                    <h5 class="card-title">Southeast France</h5>
                    <p class="card-text">Description for Wine Review 2.</p>
                    <a href="{% url 'reviewpage' %}" class="btn btn-primary">Read More</a>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 circular-card" style="border: 1px solid #000000;">
                <img src="{% static 'images/redwine.jpg' %}" class="card-img-top" alt="Default Image">
                <div class="card-body">
                    <h5 class="card-title">Wine Review 3</h5>
                    <p class="card-text">Description for Wine Review 3.</p>
                    <a href="{% url 'reviewpage' %}" class="btn btn-primary">Read More</a>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 circular-card" style="border: 1px solid #000000;">
                <img src="{% static 'images/redwine.jpg' %}" class="card-img-top" alt="Default Image">
                <div class="card-body">
                    <h5 class="card-title">Wine Review 4</h5>
                    <p class="card-text">Description for Wine Review 4.</p>
                    <a href="{% url 'reviewpage' %}" class="btn btn-primary">Read More</a>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 circular-card" style="border: 1px solid #000000;">
                <img src="{% static 'images/redwine.jpg' %}" class="card-img-top" alt="Default Image">
                <div class="card-body">
                    <h5 class="card-title">Wine Review 5</h5>
                    <p class="card-text">Description for Wine Review 5.</p>
                    <a href="{% url 'reviewpage' %}" class="btn btn-primary">Read More</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        {% endblock content %}
{% block copyright %}Copyright 2025 Isaac Nicholls{% endblock %}