<!-- {% extends "base.html" %}

{% block content %}
<h1 class="page-title text-center my-4">Your Wonderful Wines!</h1>
<div class="container-fluid">
    <div class="row">


        <!-- Wine Entries Column -->
        <!-- <div class="col-12 mt-3 left">
            <div class="row">
                {% for review in review_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                </div>
                            </div>
                            <a href="{% url 'post_detail' slug=wine.slug %}" class="btn btn-primary">Read More</a>
                                <h2 class="card-title">title</h2>
                            </a>
                            <p class="card-text">excerpt</p>
                            <hr>

                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        <!-- </ul>
    </nav>
    {% endif %}
</div>

<!-- <h2 class="mt-5">Leave a Review</h2>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form> -->
{% endblock %} --> --> -->