{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="page-title text-center my-4">Your Wonderful Wines!</h1>
<div class="container mt-5">
    <div class="row">
        {% for review in review_list%}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ review.featured_image.url }}" class="card-img-top" alt="{{ review.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ review.title }}</h5>
                    <a href="{% url 'post_detail' slug=review.slug %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        {% endfor %}
       
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<h2 class="mt-5">Leave a Review</h2>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
{% endblock %}