{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5" style="background-color: transparent;">
    <h1 class="page-title text-center my-4">Leave a Wine Review!</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                        <a href="{% url 'index' %}" class="btn btn-secondary mt-3">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}