{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="review-title">{{ wine.title }}: {{ wine.name }}</h1>
                <!-- <p class="review-subtitle">{{ wine.author }} | {{ wine.created_on }}</p> -->
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- {% if "redwine" in wine.featured_image.url %} -->
                <img src="{% static 'images/vineyard.jpg ' %}" class="scale" alt="placeholder image">
                <!-- {% else %}
                <img src="{{ wine.featured_image.url }}" class="scale" alt="{{ wine.title }}">
                {% endif %} -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for wine in wines %}
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body"> 
                <p class="card-text">
                    <strong>{{ wine.title }}</strong>
                    <br>
                    {{ wine.name }}
                    <br>
                    {{ wine.region }}
                    <br>
                    {{ wine.vintage }}
                    <br>
                    {{ wine.description }}
                    <br>
                    {{ wine.content | safe }}
                    <br>
                    {{ wine.rating }} out of 5 🍷
                    <br>
                    <img src="{{ wine.featured_image.url }}" alt="{{ wine.title }}" class="img-fluid mt-2">
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Leave a Review</h3>
            {% if user.is_authenticated %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ review_form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
            {% else %}
            <p>You need to <a href="{% url 'account_login' %}">log in</a> to leave a review.</p>
            {% endif %}
        </div>
    </div> -->
</div>
{% endblock %}
{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}