{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
<div class="alert alert-info">
  <a href="{% static 'pdf/newsletters/madiranregion.pdf' %}" target="_blank">Download Newsletter</a>
</div>
{% endif %}

<div class="text-center">
  <h2>About us</h2>
</div>
<div class="container3 mt-3 mb-3" style="border: 1px solid; padding: 15px; max-width: 1000px; margin: 0 auto;">
  <div class="row">
    <div class="hero-image text-center">
      <img src="{% static 'images/madiran-2.webp' %}" style="width: 100%;" alt="hero image">
    </div>
    <div class="col-12 container hero-text mt-3">
      <p>We are dedicated to providing detailed reviews, expert insights, and in-depth articles on a diverse range of
        wines from around the globe. Our mission is to help wine enthusiasts of all levels discover new favorites and
        deepen their appreciation for the art of winemaking. Whether you're a seasoned connoisseur or just beginning
        your journey, our platform offers valuable information, tasting notes, and pairing suggestions to enhance your
        wine experience. Join our community and embark on a delightful adventure through the rich and varied landscape
        of wine.</p>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-6 my-5">
    <h2>Sign Up to our newsletter for a monthly in-depth look at France's Wine regions!</h2>
    <form method="post">
      {{ newsletter_form | crispy }}
      {% csrf_token %}
      <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock content %}